.posts-list li {
    padding:0.6em;
    list-style: none;
    font-size:1.2em;
}

.meta-container {
    font-size:15px;
}

.meta-component {
    margin-right:10px;
    padding:5px 0px;
    float:left;
}