.posts-list
    li
        padding: 0.8em
        list-style: none
        font-size: 1.2em

.meta-container
    font-size: 15px
    height: 30px

.meta-component
    margin-right: 10px
    padding: 5px 0px
    float: left

.list-item-image
    height: 50px
    width: 50px
    background-color: #efefef
    border: 0px
    float: left
    margin-right: 15px

.post-details
    text-align: right
